.flex-container{
  display:flex;
  margin-top: 22%;
  justify-content: space-between;
  width: 1000px;





}



/*Justify-content only works if there is free space in the container! Therefore, set the container width to 1000px
so it would have space to work with!!
*/