.cardStyle{
    background-color: #80ccff;
    font-size: 25px;
    font-weight: bold;
    color: white;
    height: auto;
    width: 600px;
    position: relative;
    top: 50%;
    margin-top: 2%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;



}


table {

    border-collapse: separate;
    border-spacing: 1em 0;

}

td {
    padding-top: 15px;


}